body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1531750985903-9018577a2472?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cbc5e7fab32db22814e5e99953534be&auto=format&fit=crop&w=1400&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #30362e;
}
@media(min-width: 850px) {
  body {
    background-size: fill;
  }
  @media(min-width: 1133px){
    body{
      background-size: 1133px 780px;
      background-position: center
    }
  }
}
@media(min-width: 730px) {
  body {
    background-image: url('https://images.unsplash.com/photo-1486323398467-d3096e1c7ff5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=835b5437f2d10c7204844fb6bc14749e&auto=format&fit=crop&w=1328&q=80');
  }
}